
      .grid table tr td{
        margin: 3px;
        height: 45px;
        width: 45px;
        text-align: center;
        cursor: pointer;
        border-radius: 3px;
        border:Solid 1px sandybrown;
      }  
      .grid table tr td{
        background: seashell;
      }
      .grid table tr td:hover{
            background: rosybrown;
      }
      .grid table tr td.earth{
        background: url("../images/texture_earth.png");
        background-size: 100% 100%;
      }
      .grid table tr td.water{
        background: url("../images/texture_water.png");
        background-size: 100% 100%;
      }
      .grid table tr td.fire{
        background: url("../images/texture_fire.png");
        background-size: 100% 100%;
      }
      .grid table tr td.thunder{
        background: url("../images/texture_thunder.png");
        background-size: 100% 100%;
      }
      .grid table tr td.portal{
        background: purple;
      }
      .grid table tr td.done{
        background: black;
        color: White;
      }
      .game{
            position: relative;
      }
      .grid{
            position: absolute;
            margin:0 auto;
            top:0;
            left: 350px;
      }
      .grid .gameworld{
        margin: 0 auto;
      }
      .playerScores{
            position: relative;
            height:700px;
        padding: 5px;
        
      }
      .playerScores .playerDetails{
            position: absolute;
      }
      .playerScores .playerDetails.highlight{
        border: solid 2px Black;
      }
      .playerScores .bombs{
        font-size: 24px;
        font-weight: bold;
      }
      .playerScores .dinoImage{
            max-width: 96px;
            clear:both;
      }
      .playerScores .dinoBomb{
            max-width: 48px;
      }